<%- include('./includes/head.ejs') %>

<!--  -->

<ul class="list-group">
	<li class="list-group-item bg-danger text-light">Mes contacts</li>
	<li class="list-group-item d-flex justify-content-between">
		<h5>cedric karungu</h5>
		<button class="btn btn-danger btn-sm">Voir plus</button>
	</li>
	<li class="list-group-item d-flex justify-content-between">
		<h5>Urbain Nkera</h5>
		<button class="btn btn-danger btn-sm">Voir plus</button>
	</li>
	<li class="list-group-item d-flex justify-content-between">
		<h5>cedric karungu</h5>
		<button class="btn btn-danger btn-sm">Voir plus</button>
	</li>
	<li class="list-group-item d-flex justify-content-between">
		<h5>Dieume Dm</h5>
		<button class="btn btn-danger btn-sm">Voir plus</button>
	</li>
	<li class="list-group-item d-flex justify-content-between">
		<h5>cedric karungu</h5>
		<button class="btn btn-danger btn-sm">Voir plus</button>
	</li>
</ul>

<!--  -->
<%- include('./includes/foot.ejs') %>
